# Code compiled by Maven
*target*

# Eclipse project files
*.classpath*
*.settings*
*.project*
*/data/*
pom.xml.versionsBackup

# IntelliJ IDEA project files
.idea/
out/
*.iml

# ClearCase Remote Client metadata files
*.copyarea.db

# Mac OS X Finder metadata files
*.DS_Store
